* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: ubuntu;
}

@font-face {
    font-family: ubuntu;
    src: url('./resources/Ubuntu-Regular.ttf');
}

.main {
    display: grid;
    /* grid-template-columns: repeat(12, minmax(70px, auto)); */
    grid-template-columns: minmax(280px, auto) minmax(280px, 1fr);
    grid-template-rows: 3rem 1fr 3rem;
    gap: 8px;
    /* Sizing */
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-image: linear-gradient(90deg, #2c3e50, #e74c3c);
    color: #d3d3d3;
    overflow: hidden;
}

.header {
    grid-column: span 2 / span 2;
    background-color: #191919;
}

.left-bar {
    grid-row-start: 2;
}

.showcase {
    grid-row-start: 2;
    overflow: auto;
}

.footer {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
    background-color: #191919;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card {
    background-color: #011522;
    margin: 1rem;
    border-radius: 8px;
    flex-basis: 320px;
}

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}
.card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}
h2 {
    font-size: 2rem;
}
.profile-picture {
    border-radius: 50%;
}

button {
    width: 100px;
    padding: 0.5rem;
    border: 0;
    margin: 0.5rem;
    border-radius: 8px;
    background-color: #e74c3c;
}

button:hover {
    box-shadow: 10px 5px 5px #2c3e50;
    transition: 0.5s;
}

button:active {
    color: #d3d3d3;
    transition: 0.1s;
}

table {
    width: 100%;
    padding: 1rem;
}
td {
    padding: 2px 1rem;
    text-align: center;
}

td:first-child {
    text-align: left;
}
td:nth-child(2) {
    text-align: right;
}

p {
    position: relative;
    text-decoration: none;
    margin: 1rem;
}

p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: #e74c3c;
    box-shadow: 0 0 10px #2c3e50;
    transition: width 0.3s ease;
}

p:hover::after {
    width: 100%;
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (width <= 560px) {
    .main {
        display: grid;
        grid-template-columns: minmax(280px, 1fr);
        grid-template-rows: minmax(50px, max-content) 1fr 1fr minmax(
                50px,
                max-content
            );
        gap: 8px;
    }
    .header {
        grid-row-start: 1;
    }
    .left-bar {
        grid-row-start: 2;
    }
    .showcase {
        grid-row-start: 3;
    }
    .footer {
        grid-row-start: 4;
    }
}
